{% extends 'components/base.html' %}

{#{% block header %}#}

{#{% endblock %}#}

{% block content %}
    <section class="hero is-info is-bold">
        <div class="hero-body">
            <h2 class="title is-2">Hot Topics</h2>
            {% if user.is_authenticated %}
                <p class="subtitle">Welcome back, {{ user.username.title }}</p>
            {% else %}
                <p class="subtitle">
                    Please <a href="{% url 'login' %}?next={{ request.path }}">login</a> to vote for a topic.
                </p>
            {% endif %}
        </div>
    </section>

    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}